<div class="container center">
	<div style="margin-top: 25px, padding-bottom: 100px">
		<h2> Because too much comes with owning a car. </h2>

			<div class="jumbotron">
			
				<div class="col-sm-4 col-md-2">
	        		<h3>Gas</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Parking</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Oil Changes</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Tickets</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>New Tires</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Traffic.</h3>
	  			</div>
			
			</div>
	</div>
</div>

<div class="container center">
	<div style="margin-top: 50px; padding-bottom: 60px">
		<font size="5px", color= "black"> 
			<!--
			If owning a car is so great, why does it come with so many headaches? It just sits there for most of the time anyway. Depending on where you live, you have to deal with parking, traffic, insurance, maintenance, and everything else. Whether you want to be driven to work every morning to catch some extra sleep, or get an early start. Or may you had too much fun at the club and you need a ride home. Until now. 
				<br><br><br>
			-->
			What if you had 24/7 access to your own personal driver? Instead of being stuck in traffic on your daily commute, you could get some extra sleep, connect to wifi and get some work done, or update all your social media accounts, without getting a ticket. You could party all night, and be guaranteed a way back home, or anywhere else, no matter the time. What ever you're into, the possiblities are endless.   
		</font> 
			<br><br>
				<%= link_to "Sign Up", "interest", class: "btn btn-success btn-lg" %> 
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<%= link_to "Read the FAQ's", "/faq", class: "btn btn-info btn-lg" %> 
