


			
				
				<!-- <h2><font color= "white"> 
				What if you could never worry about parking becaue you get dropped off in front. What if you could always have a car waiting to pick you up at your beacon call. What if you could get that last bit of work done, or pay full attention to your significant other, while being driven in rush hour traffic.
			</font> </h2> -->
	</div>
</div>

<div class="container center">
	<div style="margin-top: 25px, padding-bottom: 100px">
		<h2> Because too much comes with owning a car. </h2>

			<div class="jumbotron">
			
				<div class="col-sm-4 col-md-2">
	        		<h3>Gas</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Parking</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Oil Changes</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Tickets</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>New Tires</h3>
	  			</div>
	  			<div class="col-sm-4 col-md-2">
	        		<h3>Traffic.</h3>
	  			</div>
			
			</div>
	</div>
</div>

<div class="container center">
	<div style="margin-top: 50px; padding-bottom: 60px">
		<font size="5px", color= "black"> The best thing about owning a car is the ability to get where you want, when you want.<br> Why deal with anything else? Our app gives you 24-7, unlimited access to a self-driving car, <br> that will pick you up on call for less than th cost of your monthly car note. </font> 
		<br><br>
				<%= link_to "Sign Up Now", "#", class: "btn btn-success btn-sm" %> 
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<%= link_to "Read our FAQ's", "#", class: "btn btn-info btn-sm" %>
			</font> 
