<div style="margin-right: 125px; margin-left: 75px; padding-bottom: 50px">
	<div class"container center">
		<h1> FAQ's </h1> 
	</div>
	<div>
		<h2> Are self driving cars real?
				<h4> Yes, self driving cars are very real. Google has been at the forefront of perfecting the technology. You can even see some examples in current car features: self parallel parking, lane keep assist, and auto emergency breaking.
		<h2> How does this service work?
				<h4> First you sign up. Once you have an account, log in when you need a car, input your destination, and a car will be there in 10 minutes or less. 
		<h2> Why should I want a service like this?
				<h4> Cars are great for getting around, but owning them is impractical. You already pay a monthly car payment, why should you also have to pay for parking, gas, insurance, tickets, and oil changes?  
		<h2> What if I own my car and don't pay monthly? 
				<h4> Even when you own your car, there are still things like insurance, gas, parking, etc. You can sell, or keep your car when you sign up. 
		<h2> Is it safe?
				<h4> Yes.
		<h2> No, really, how safe is it?
			<h4> Really safe. In the only reported accidents, the self driving car was not at fault. They basically drive better than humans. 
		<h2> Do I have the option to drive myself?
			<h4> While the optional user drive mode is only available in particular service levels, all self driving cars are equipped with emergency user drive mode. 
		<h2> What if the car gets into an accident, who's responsible? 
				<h4> Certainly not you. After all, you weren't the one driving. All damages are covered, including any health related costs not covered by passenger health insurance. 
		<h2> When will it be available in my city? 
				<h4> We are working consistantly to bring this service to many cities. Sign up and we'll notify you when the service is available in your city.  
					<br><br>
				<%= link_to "Sign up to get notified", "/interest", class: "btn btn-success btn-lg" %> 

	</div>
</div>