<div style="margin-right: 105px; margin-left: 75px">
	<div class"container center">
		<h1> FAQ's </h1> 
	</div>
	<div>
		<h3> Self driving cars are real?
				<h4> Yes, self driving cars are very real. Google has been at the forefront of perfecting the technology. You can even see some examples in current car features: self parallel parking, lane keep assist, and auto emergency breaking. 
		<h3> Why should I want a service like this?
				<h4> Cars are great for getting around, but owning them is impractical. You already pay a monthly car payment, why should you also have to pay for parking, gas, insurance, tickets, and oil changes?  
		<h3> I own my car and don't pay monthly, why should I use this? 
				<h4> Even if you don't pay a car note, you (or someone else), still pays for gas, tires, oil changes and maintenance.
		<h3> Is it safe?
				<h4> Yes. 
		<h3> What if the car gets into an accident, who's responsible? 
				<h4> Certainly not you. After all, you weren't the one driving. 
		<h3> When will it be available in my city? 
				<h4> This is highly anticipated, and we're working hard to bring it to as many cities as possible, as quickly as possible. If we're not currently available in your city, 
					&nbsp&nbsp&nbsp&nbsp
				<%= link_to "Sign up to get notified", "/interest", class: "btn btn-success btn-sm" %> 


		</h3>
	</div>
</div>