<div class="container center">
	
		<div class="bgimg">
		
			<div class= "container center">

					<div style="			    	
			    	padding-bottom: 75px; margin-top: 250px;">
						<font size= "250px", color= "white"> THE FIRST SELF-DRIVING CAR SERVICE </font>
						<p><font size= "5px", color="white"> 
							Launching in 2015 
								 
						</font>
					</div>
			</div>
				<div style="			    	
			    	padding-bottom: 150px;">
				<%= link_to "Get Access","#", class: "btn btn-success btn-lg" %>
			</div>
		</div>



<div style =" margin-top: 60px">

	<h2> Because too much comes with owning a car. 

	<div class="jumbotron">
		
			<div class="col-sm-4 col-md-2">
        		<h3>Gas</h3>
  			</div>
  			<div class="col-sm-4 col-md-2">
        		<h3>Parking</h3>
  			</div>
  			<div class="col-sm-4 col-md-2">
        		<h3>Oil Changes</h3>
  			</div>
  			<div class="col-sm-4 col-md-2">
        		<h3>Tickets</h3>
  			</div>
  			<div class="col-sm-4 col-md-2">
        		<h3>New Tires</h3>
  			</div>
  			<div class="col-sm-4 col-md-2">
        		<h3>Traffic.</h3>
  			</div>
		</div>
	</div>


<div style="background-color: #929698; margin-top: 110px">
	<font size="25px", color= "white"> Imagine...</font>
			<div style="margin-bottom: 60px">
				<h2><font color= "white"> 
				What if you could never worry about parking becaue you get dropped off in front. What if you could always have a car waiting to pick you up at your beacon call. What if you could get that last bit of work done, or pay full attention to your significant other, while being driven in rush hour traffic.
				</font> </h2>
			</div>

</div>

<div style =" margin-top: 60px; ">
		<h2>Interested? 
		<%= link_to "Learn More","#", class: "btn btn-success btn-lg" %>

		<div style="margin-top: 60px">

								<!--		<div class="media,">
								  			<a class="pull-right" href="#">
								    		<img class="media-object" src="http://i33.photobucket.com/albums/d77/nwadibia/ScreenShot2014-05-18at73141PM.png" alt="..." class="img-circl" alt="...">
								  			</a>
								  			<div class="media-body">
								    		<h4> Always having a car ready to pick you up. 
											<p>No matter what time of day. </h3>
							    ...
							  			</div> -->
		</div>

</div>





</div>