<div class="container center">
		<div style="background-color:black; margin-top:5px; padding-bottom:75px">
			<div class="container">
				<font color="white">	<h2> Features and Pricing</h2>
						<!--
						<div class="row placeholders">
							<div class="col-xs-6 col-sm-3 placeholder">
							<img src="http://thetalkingmirror.com/wp-content/uploads/2009/06/smart-car.jpg" alt="" class="img-circle" hight="100" width="200">
							<h3> Mini</h3> <br> Space for 1 person, gets you where you need to be. 
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							</div>

							<div class="col-xs-6 col-sm-3 placeholder">
							<img src="http://4.bp.blogspot.com/-fzRRDWyw7o0/Ue1xV857YfI/AAAAAAAAgt8/7Mf1D0K6yL4/s1600/2013_Hyundai-Sonata-GL.jpg" alt="..." class="img-circle" hight="200" width="200">
							<h3> Ecoficient</h3> <br> Our most popular plan. Room for 4 in a roomy ride. 
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							</div>

							<div class="col-xs-6 col-sm-3 placeholder">
							<img src="http://images.gizmag.com/hero/5326_80306121056.jpg" alt="..." class="img-circle" hight="200" width="200">
							<h3> Lux </h3> <br> Get to where you need to be, in luxury. 
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							</div>
							
							<div class="col-xs-6 col-sm-3 placeholder">
							<img src="http://www.automotivetimes.com/wp-content/uploads/2014/05/2015-jaguar-f-type-exterior11.jpg" alt="..." class="img-circle" hight="200" width="200">
							<h3> Sport</h3> <br> Like driving sportscars? This plan is for you. 
							</div>
						-->

						</div>
						<div style="margin-top: 75px; margin-left: 60px; margin-right: 60px">
							<table class="table">
							  <tr>
							  	<td></td>
							  	<td><img src="http://thetalkingmirror.com/wp-content/uploads/2009/06/smart-car.jpg" alt="" class="img-circle" hight="100" width="200"></td>
							  	
							  	<td><img src="http://4.bp.blogspot.com/-fzRRDWyw7o0/Ue1xV857YfI/AAAAAAAAgt8/7Mf1D0K6yL4/s1600/2013_Hyundai-Sonata-GL.jpg" alt="..." class="img-circle" hight="200" width="200"></td>
							  	
							  	<td><img src="http://images.gizmag.com/hero/5326_80306121056.jpg" alt="..." class="img-circle" hight="200" width="200"></td>
							  	
							  	<td><img src="http://www.automotivetimes.com/wp-content/uploads/2014/05/2015-jaguar-f-type-exterior11.jpg" alt="..." class="img-circle" hight="200" width="200"></td>
							  </tr>
							  <tr>
							  	<td></td>
							  	<td>Mini <br> Space for 1 person, gets you where you need to be.</td>
							  	<td>Ecoficient <br> Our most popular plan. Room for 4 in a roomy ride.</td>
							  	<td>Lux  <br> Get to where you need to be, in luxury.</td>
							  	<td>Sport <br> Like driving sportscars? This plan is for you.</td>
							  </tr>
							  <tr>
							  	<td>Self Driving</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  </tr>
							  <tr>
							  	<td>24/7 Access</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  </tr>
							  <tr>
							  	<td>Unlimited Miles</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  	<td>X</td>
							  </tr>
							  <tr>
							  	<td>Wifi Enbled</td>
							  	<td>5 GB/month</td>
							  	<td>10 GB/month</td>
							  	<td>Unlimited</td>
							  	<td>N/A</td>
							  </tr>
							  <tr>
							  	<td>User Drive Mode</td>
							  	<td>Basic</td>
							  	<td>Basic</td>
							  	<td>Baic</td>
							  	<td>Advanced</td>
							  </tr>
							  <tr>
							  	<td>Price</td>
							  	<td>$249/month</td>
							  	<td>$379/month</td>
							  	<td>$629/month</td>
							  	<td>$986/month</td>
							  </tr>
							</table> <br><br>
							<%= link_to "Sign Up", "/interest", class: "btn btn-success btn-lg" %>
						</div>	
					</font>
			</div>
		</div>
</div>